/******************* for testing purposes only **************
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
/***********************************************************/
body{padding-bottom: 0;}


#search-bar::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #FFF;
}
#search-bar:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #FFF;
}
#search-bar::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #FFF;
}
#search-bar:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #FFF;
}


.navbar .badge {
background-color: #F20202;
color: #ffffff;

position: relative;
top: -10px;
left: -13px;
margin-right: -10px;
z-index: 1;
}
.navbar .glyphicon-bell {
z-index: 2;
}

.navbar-nav > li > .dropdown-menu {
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-left: 1px solid #3A3A3A;
border-right: 1px solid #3A3A3A;
border-bottom: 1px solid #3A3A3A;
}

.round-button{
  border: 1px solid #605F5F;
  background-color: #FFF;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 25px;
}

.round-button {
width: 50px;
height: 50px;
padding: 12px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 25px;
}



footer {
  border-top: 10px solid #d2d2d2;
  margin: 50px 0 0 0;
   width:100%;
   height:100px;   /* Height of the footer */
   background:#FFF;
}

.list-group-item p{color: #000;}
.list-group-item.active p{color: #FFF;}

#classes-list .list-group-item.new-class {
margin-top: 10px;
background-color: #428bca;
color: #fff;
}

#classes-list a{text-decoration: none;}

#classes-list .clickable:hover{background-color: #E8E5E5;}

#classes-list .new-class:hover{background-color: #226EAD;}

.popover h3{color: #000;}

#class-code-container {
background-color: #333;
border: 1px solid #333;
color: #bbb;
display: block;
width: 100%;
padding: 12px 0;
font-size: 18px;
line-height: 25px;
text-align: center;
}

#class-code-container .class-code {
color: #fff;
font-family: courier;
font-weight: 700;
}






